
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: gray;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    
}
.logo{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
nav {
    background-color:gray;
  }
  
 nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  li {
    display: inline;
  }
  nav a {
    text-decoration: none;
    padding: 0 30px;
    height: 100%;
    color: black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  a:hover {
    border:1px solid black ;
  }
  section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./background.jpg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    color:black;
    font-size: 1.4em;
    font-weight: 500;
    line-height: 2.8;
}
main h3 {
    color: black;
    font-size: 10em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 2;
}
.main-btn {
    margin-top: 15px; 
    margin-bottom: 15px; 
  }
.main-btn{
    color: black;
    background-color: gray;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: gray;
    transform: scale(1.1);
}
.title{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 21.25em;
}
.card:hover{
    transform: scale(1.1);
}

.info{
    text-align: center;
}
.info h3{
    color: black;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

h3 {
    color: #333;
}

p {
    line-height: 1.6;
    color:#666 ;
}

img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 20px;
}

.contact2{
    align-items: center;
}


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: gray;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
    transform: scale(1.1);
}
footer {
    background-color:gray ; 
    color: black; 
    padding: 20px; 
    text-align: center;
  }
  footer p {
    margin: 0; 
    font-size: 14px; 
  }